* {
	padding: 0;
	margin: 0;
}

body{
	font-family: helvetica;
	font-size: 22px;
}

.navbar {
	background-color: #061726;
	border-color: rgb(1, 9, 20);
	border-radius: 0;
	margin: 0;
}

#navbar ul li{
	margin-left: 40px;
}

#navbar ul li a {
	font-size: 16px;
	color: white;
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.home {
	height: calc(100vh - 90px);
	padding-top: 50px;
	position: fixed;
}

.logo{
	height: 200px;
	margin-top: 30px;
	border: 1px solid black;
}

.formulari{
	height: 500px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.formulari .text_fields input{
	margin-bottom: 12%;
	font-size: 22px;
	width: 350px;
	padding:5px;
}

.folder{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.password{
	height: 50px;
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.radio_buttons {
	margin-top: 30px;
	display: flex;
	flex-flow: row;
}

.radio_buttons input[type="radio"] {
	display: none;
}

.radio_buttons label {
	width: 50%;
	font-weight: lighter;
	padding: 5px 15px;
	transition: all ease 0.3s;
	border: 1px solid black;
}
/*
.radio_buttons label:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.radio_buttons label:last-of-type {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
*/
.radio_buttons input[type="radio"]:checked + label{
	color: white;
	background-color: #061726;
}

.submit_div {
	margin-top: 30px;
	width: 100%;
}

.submit_div input[type="submit"] {
	width: 100%;
	padding: 5px 15px;
	color: white;
	background-color: #CBA46D;
	border: 1px solid black;
}


.how_work{
	height:200px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text_down{
	font-size: 30px;
	color: #01544f;
}

.arrow_down{
	color: #01544f;
}

section.tutorial {
	position: absolute;
	left: 0;
	top: 750px;
	padding: 5%;
	background-color: #01A8EC;
	flex-direction: row;
	align-items: flex-start;
	color: white;
}

.contenidor {
	padding-bottom: 20px;
	display: flex;
	flex-flow: column nowrap;
}

.container > h2 {
	padding-left: 130px;
	margin-bottom: 40px;
	text-decoration: underline;
}

.container > .step-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

<<<<<<< HEAD
.container > .step-container > .step {
	width: 32%;
	min-width: 350px;
	height: 100%;

}

.container > .step-container > .step img {
	width: 100%;
	border-radius: 10px;
=======
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	section.tutorial h2{
		font-size: 20px;
	}

	section.tutorial h3 {
		font-size: 10px;
	}
>>>>>>> a83fcdfe5e23a8a388909a87ca209ff472a82e7d
}
