* {
	padding: 0;
	margin: 0;
}

body{
	font-family: helvetica;
	font-size: 22px;
}

.navbar {
	background-color: #061726;
	border-color: rgb(1, 9, 20);
	border-radius: 0;
	margin: 0;
}

#navbar ul li{
	margin-left: 40px;
}

#navbar ul li a {
	font-size: 16px;
	color: white;
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.home {
	height: calc(100vh - 90px);
	padding-top: 50px;
	position: fixed;
}

.logo{
	height: 200px;
	margin-top: 30px;
	border: 1px solid black;
}

.formulari{
	height: 500px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.formulari .text_fields input{
	margin-bottom: 12%;
	font-size: 22px;
	width: 80%;
	padding:10px;
	border: 0;
	border-bottom: 1px solid grey;
}

.folder{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.password{
	height: 50px;
	width: 100%;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.radio_buttons {
	margin-top: 30px;
	display: flex;
	flex-flow: row;
}

.radio_buttons input[type="radio"] {
	display: none;
}

.radio_buttons label {
	width: 50%;
	cursor: pointer;
	font-weight: lighter;
	padding: 5px 15px;
	transition: all ease 0.3s;
	border: 1px solid black;
	text-align: center;
	box-shadow: inset 0 0 0 0 #31302B;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
}

.radio_buttons input[type="radio"].first:checked + label{
	color: white;
	box-shadow: inset -500px 0px 0px 0 #31302B;
	border: 0;
}

.radio_buttons input[type="radio"]:checked + label{
	color: white;
	background-color: #061726;
	border: 0;
	box-shadow: inset 500px 0 0 0 #31302B;

}

.submit_div {
	margin-top: 30px;
	width: 100%;
}

.submit_div input[type="submit"] {
	width: 100%;
	padding: 5px 15px;
	color: white;
	background-color: #CBA46D;
	border: 0;
}


.how_work{
	height:200px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.text_down{
	font-size: 20px;
	color: #01544f;
}

.arrow_down{
	color: #01544f;
}

section.tutorial {
	height: auto;
	position: absolute;
	left: 0;
	top: 750px;
	padding: 5%;
	background-color: #01A8EC;
	color: white;
}

.tutorial h2 {
	text-decoration: underline;
}

.contenidor {
	padding-top:50px;
}

.contenidor .step{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenidor >  .step img {
	width: 65%;
	border-radius: 10px;
}
.cross {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 5%;
	right: 5%;
	text-align: center;
	cursor: pointer;
	line-height: 40px;
	background-color: grey;
	color: white;
	border-radius: 50%;
	transition: all ease .3s;
}

.cross:hover {
	background-color: rgb(84, 84, 84)
}
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	section.tutorial h2{
		font-size: 20px;
	}

	section.tutorial h3 {
		font-size: 15px;
	}
}
