* {
	padding: 0;
	margin: 0;
}

body{
	font-family: helvetica;
	font-size: 22px;
}

.navbar {
	background-color: #061726;
	border-color: rgb(1, 9, 20);
	border-radius: 0;
	margin: 0;
}

#navbar ul li a {
	color: white;
}

section {
	height: 100vh;
	width: 100%;
	background: red;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo{
	height: 400px;
	margin-top: 30px;
	background-color: green;
}

.formulari{
	height: 500px;
	margin-top: 5%;
	background-color: grey;
	display: flex;
	flex-direction: column;
}

.formulari input{
	margin-top: 10%;
	height: 10%;
}

.how_work{
	height:200px;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: yellow;
}

.text_down{
	font-size: 30px;
	color: #01544f;
}

.arrow_down{
	color: #01544f;
}

section.tutorial {
	background-color: #01A8EC;
	flex-direction: row;
	color: white;
}

.container {
	width: 100%;
	height: 95%;
	padding-bottom: 20px;
	display: flex;
	flex-flow: column nowrap;
}

.container > h2 {
	padding-left: 30px;
	margin-bottom: 40px;
}

.container > .step-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.container > .step-container > .step {
	width: 48%;
	height: 100%;

}

.container > .step-container > .step img {
	width: 100%;
	height: 70%;
}
