* {
	padding: 0;
	margin: 0;
}

body{
	font-family: helvetica;
	font-size: 22px;
}

.navbar {
	background-color: #061726;
	border-color: rgb(1, 9, 20);
	border-radius: 0;
	margin: 0;
}

#navbar ul li{
	margin-left: 40px;
}

#navbar ul li a {
	font-size: 16px;
	color: white;
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section.home {
	height: calc(100vh - 90px);
}

.logo{
	height: 200px;
	margin-top: 30px;
	border: 1px solid black;
}

.formulari{
	height: 500px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.formulari .text_fields input{
	margin-bottom: 12%;
	font-size: 22px;
	width: 350px;
	padding:5px;
}

.folder{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.password{
	height: 50px;
	width: 100%;
	margin-top: 50px;
	display: flex;
	align-items: center;
		justify-content: space-between;
}


.how_work{
	height:200px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text_down{
	font-size: 30px;
	color: #01544f;
}

.arrow_down{
	color: #01544f;
}

section.tutorial {
	background-color: #01A8EC;
	flex-direction: row;
	color: white;
}

.container {
	width: 100%;
	height: 95%;
	padding-bottom: 20px;
	display: flex;
	flex-flow: column nowrap;
}

.container > h2 {
	padding-left: 130px;
	margin-bottom: 40px;
	text-decoration: underline;
}

.container > .step-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.container > .step-container > .step {
	width: 32%;
	min-width: 350px;
	height: 100%;

}

.container > .step-container > .step img {
	width: 100%;
	border-radius: 10px;
}
