* {
	padding: 0;
	margin: 0;
}

body{
	font-family: helvetica;
	font-size: 22px;
}

.navbar {
	background-color: #061726;
	border-color: rgb(1, 9, 20);
	border-radius: 0;
	margin: 0;
}

#navbar ul li{
	margin-left: 40px;
}

#navbar ul li a {
	font-size: 16px;
	color: white;
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo{
	height: 200px;
	margin-top: 30px;
	border: 1px solid black;
}

.formulari{
	height: 500px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.formulari .text_fields input{
	margin-bottom: 12%;
	font-size: 22px;
	width: 100%;
}

.formulari .buttons{
	margin-top: 60px;
}

.formulari .buttons input{
	margin-bottom: 5%;
	height: 50%;
	width: 100%;
	border: 0;
	border-radius: 3px;
	background-color: #b58b4c;
}

.formulari .buttons input:last-child{
	background-color: #31d200;
}


.how_work{
	height:200px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text_down{
	font-size: 30px;
	color: #01544f;
}

.arrow_down{
	color: #01544f;
}

section.tutorial {
	background-color: #01A8EC;
	flex-direction: row;
	color: white;
}

.container {
	width: 100%;
	height: 95%;
	padding-bottom: 20px;
	display: flex;
	flex-flow: column nowrap;
}

.container > h2 {
	padding-left: 30px;
	margin-bottom: 40px;
}

.container > .step-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.container > .step-container > .step {
	width: 48%;
	height: 100%;

}

.container > .step-container > .step img {
	width: 100%;
	height: 70%;
}
