<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>uploadFile</title>
	<% include ../partials/libraries.ejs %>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<!- HEAD -->

	<% include ../partials/navbar.ejs %>

	<section class="col-md-12 home">

			<img src="logo.png" alt="logo_files" class="logo col-md-6 col-sm-6 col-xs-10">

			<form action="" class=" formulari col-md-3 col-sm-3 col-xs-10">
				<input type="text" name="folderName">
				<input type="text" name="password">
				<input type="submit" value="Open folder">
				<input type="submit" value="Create folder">
			</form>

			<div class="how_work col-md-4 col-sm-4 col-xs-8">
				<p class="text_down">How does it work?</p>
				<i class="fa fa-angle-down fa-4x arrow_down" aria-hidden="true"></i>
			</div>

	</section>

	<section class="col-md-12 q"></section>


	<script src="static/js/index.js"></script>
	<% include ../partials/jquery.ejs %>
</body>
</html>
