<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>uploadFile</title>
	<% include ../partials/libraries.ejs %>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<% include ../partials/navbar.ejs %>

	<section class="col-md-12"></section>
	<section class="col-md-12 q"></section>

	<script src="static/js/index.js"></script>
	<% include ../partials/jquery.ejs %>
</body>
</html>
