<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>uploadFile</title>
	<% include ../partials/libraries.ejs %>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<% include ../partials/navbar.ejs %>

	<section class="col-md-12 home">

			<img src="logo.png" alt="logo_files" class="logo col-md-6 col-sm-6 col-xs-10">

			<form action="" class=" formulari col-md-3 col-sm-6 col-xs-10">
				<div class="text_fields">
					<label for="folderName">Folder name:</label>
					<input type="text" name="folderName" placeholder="" id="folderName">
					<label for="password">Password(optional):</label>
					<input type="password" name="password" placeholder="" id="password">
				</div>
				<div class="buttons">
					<input type="submit" value="Open folder">
					<input type="submit" value="Create folder">
				</div>
			</form>

			<div class="how_work col-md-4 col-sm-4 col-xs-8">
				<p class="text_down">How does it work?</p>
				<i class="fa fa-angle-down fa-4x arrow_down" aria-hidden="true"></i>
			</div>

	</section>

	<section class="col-md-12 tutorial">
		<div class="container">
			<h2>Upload your files in 2 simple steps</h2>
			<div class="step-container">
				<div class="step">
					<h3>1.Create your online folder</h3>
					<img src="" alt="">
				</div>
				<div class="step">
					<h3>2.Upload your files into the folder</h3>
					<img src="" alt="">
				</div>
			</div>
		</div>
	</section>


	<% include ../partials/jquery.ejs %>
	<script src="static/js/index.js"></script>
</body>
</html>
