<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>uploadFile</title>
	<% include ../partials/libraries.ejs %>
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<% include ../partials/navbar.ejs %>

	<section class="col-md-12 home">

			<img src="logo.png" alt="logo_files" class="logo col-md-6 col-sm-6 col-xs-10">

			<form action="" class=" formulari col-md-3 col-sm-6 col-xs-10">
				<div class="text_fields">
					<span class="folder">
						<label for="folderName"><i class="fa fa-folder-open-o fa-2x" aria-hidden="true"></i></label>
						<input type="text" name="folderName" placeholder="Folder name" id="folderName">
					</span>
					<span class="password">
						<label for="password"><i class="fa fa-lock fa-3x" aria-hidden="true"></i></label>
						<input type="password" name="password" placeholder="Password(optional)" id="password">
					</span>
				</div>
				<div class="radio_buttons">
					<input type="radio" name="open_create" value="open" id="open" class="first" checked>
					<label for="open">Open</label>
					<input type="radio" name="open_create" value="create" id="create">
					<label for="create">Create</label>
				</div>
				<div class="submit_div">
					<input type="submit" value="Done">
				</div>
			</form>

			<div class="how_work col-md-4 col-sm-4 col-xs-8">
				<p class="text_down">How does it work?</p>
				<i class="fa fa-angle-down fa-4x arrow_down" aria-hidden="true"></i>
			</div>

	</section>

	<section class="col-md-12 tutorial">
		<div class="col-md-12 contenidor">
			<h2>Upload your files in 2 simple steps</h2>
			<div class="col-md-10 step-container">
				<div class="col-md-6 col-sm-6 col-xs-12 step">
					<h3>1.Create your online folder</h3>
					<img src="" alt="">
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 step">
					<h3>2.Upload your files into the folder</h3>
					<img src="" alt="">
				</div>
			</div>
		</div>
	</section>


	<% include ../partials/jquery.ejs %>
	<script src="static/js/index.js"></script>
</body>
</html>
