<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>uploadFile</title>
	<% include ../partials/libraries.ejs %>
</head>
<body>
	<h1>NodeJS</h1>
	<script src="static/js/index.js"></script>
</body>
</html>
